body, html {
    height: 100%;
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.video-background {
    position: relative;
    height: 100vh; /* Full height */
    width: 100vw; /* Full width */
    overflow: hidden; /* Hide scrollbars */
}

#myVideo {
    position: fixed; /* Video fixed to the viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the full area */
    z-index: 0; /* Behind all other content */
    opacity: 0.3; /* Optional: if you want to add opacity to the video */
}



/* Company Info */


.company-info p {
    margin: 0;
}

.logoContainer {
    position: absolute;
    margin-top: 20px;
    left: 13%;
    top: 10px;
    max-width: 20%;
    height: auto;
    z-index: 2; /* Above the video */

}


/* Caibrain Logo container */
.caibrainLogo {
    display: flex;
    justify-content: center; /* Center horizontally in the flex container */
    align-items: center; /* Center vertically if needed */
    height: 70%;  /* Use full height of the container */
}

/* Company Logo container, adjust if needed */
.companyLogo {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items:flex-start; /* Center vertically if needed */
    height: 100%; /* Ensure it uses the height of its container */
}

/* Logo Image for Caibrain */
img#caibrainLogo {
    width: 20%;  /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}

/* Logo Image for the company */
img#companyLogo {
    margin-top: 5px;
    width: 50%;  /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
}


.mainText {
    position: absolute;
    top: 40%;
    left: 18%;
    color: white;
    z-index: 2;
    text-align: center;
    max-width: 50%;
    text-align: left;
}

/* Heading */
h1 {
    margin-left: 0;
    color: black; /* Change to your preferred color */
    z-index: 2; /* Above the video */
    font-size: 2.5em; /* Size of the heading */
}

.labelContainer {
    max-width: 80%;
}

.label {
    margin-top: 15px;
    color: rgb(65, 63, 63); /* Change to your preferred color */
    z-index: 2; /* Above the video */
    font-size: 1.5em; /* Size of the label text */
}

span {
    color: rgb(233, 93, 23); /* Change to your preferred color */

}

.reach {
    display: flex;
    align-items: center;
    position: absolute;
    right:10%;
    bottom: 5px;
    z-index: 2; /* Above the video */
    color: rgb(65, 63, 63); 
    font-size: 1.5em; /* Size of the label text */
    
}

.link {
    text-decoration: none;
    color: rgb(233, 93, 23);
}

/* Social Icons */
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 18%;
    bottom: 20px;
    z-index: 2; /* Ensure icons are above the video */
}

.social-icons a {
    color: rgb(233, 93, 23);
    margin: 0 10px;
    font-size: 2em; /* Size of icons */
}

/* Media Query for Social Icons and Company Info on mobile */
@media (max-width: 600px) {
    .social-icons a {
        font-size: 1.2em; /* Smaller icons for mobile */
    }

    .social-icons {
        position: fixed; /* Fixed to the viewport so it's always visible */
        bottom: 10px;
    }

    .social-icons {
        left: 10px;
    }

    .company-info {
        right: 10px;
        text-align: center;
    }
}

#loader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e7ef;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* No need for .content class anymore if content is absolutely positioned */
